.paketBento{
    padding: 30px;
    font-size: 20px;
    margin: 50px 0 50px 30px;
}
.paketBentoImg{
    width: 50%;
    float: right;
}
.liprod{
    font-size: 25px;
}
.paketh3{
    margin: 30px 0 10px 30px;
}